@charset "UTF-8";

.check-btn-exsist {
	background-color: pink;
	width: 91px;
	padding: 3px;
	border-radius: 10px;
	border: solid #eca8af;
}

.check-btn-pic {
	width: 30px;
	margin-top: -8px;
}

.title{
	margin-bottom: 30px;
	text-align: center;
	
}