@charset "UTF-8";

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background: #FFAFBD; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffc3a0, #FFAFBD);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s;
	margin-top: 120px;
	border-radius: 0px 20px 0px 0px;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 15px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.moreFunction {
	width: 150px;
	position: absolute;
	margin-left: 60px;
	border: solid #660000;
	background: -webkit-linear-gradient(to bottom, #493240, #FF0099);
	background: #FFAFBD;
	background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);
	background: linear-gradient(to bottom, #ffc3a0, #FFAFBD);
	margin-top: 30px;
	border-radius: 20px;
	filter: brightness(80%);
}

.moreFunction img {
	width: 100%;
	
}

.moreFunction:hover {
	border-radius: 20px;
/* 	box-shadow: 4px 4px 4px 4px #866667; */
	filter: brightness(110%);
}

.functionName {
	width: 255px;
	margin-top: 40px;
}

.functionName :hover {
	width: 220px;
	
}

.functionName img {
	width: 190px;
}