/*
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
/* #header { */
/* 	position: relative; */
/* 	background-color: #E96681; */
/* } */

/* #header .container { */
/* 	position: relative; */
/* 	padding: 3.5em 0em; */
/* 	background-color: #E96681;  */
/* } */

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
/* #logo { */
/* 	position: absolute; */
/* 	left: 0em; */
/* 	top: 2em; */
/* } */

/* #logo h1 { */
/* 	color: #EBD4C7; */
/* } */

/* #logo a { */
/* 	display: block; */
/* 	text-decoration: none; */
/* 	font-size: 2.8em; */
/* 	font-weight: 600; */
/* 	color: #EBD4C7; */
/* } */

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
/* #nav { */
/* 	position: absolute; */
/* 	right: 0em; */
/* 	top: 2em; */
/* } */

/* #nav>ul>li { */
/* 	float: left; */
/* } */

/* #nav>ul>li:last-child { */
/* 	padding-right: 0; */
/* } */

/* #nav>ul>li>a, #nav>ul>li>span { */
/* 	display: block; */
/* 	margin-left: 0.7em; */
/* 	padding: 0.80em 1.2em; */
/* 	letter-spacing: 0.06em; */
/* 	text-decoration: none; */
/* 	font-size: 1em; */
/* 	outline: 0; */
/* 	color: #FFF; */
/* } */

/* #nav li.active a { */
/* 	background: #56c9d6; */
/* 	border-radius: 5px; */
/* 	color: #FFF; */
/* } */

/* #nav>ul>li>ul { */
/* 	display: none; */
/* } */

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner {
	padding: 6em 0em;
}

.homepage #banner {
	padding: 18em 0em;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
#main {
	padding: 6em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
#featured {
	padding: 6em 0em 4em 0em;
}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/
#marketing {
	padding: 6em 0em;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright {
	padding: 3em 0em;
}

.sidenav {
  height: 560px;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fbe1e6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 125px;
}